.page-header
  %h3 Forgot password

= form_for :password_reset, url: password_resets_path, html: {class: "form-horizontal"} do |f|
  
  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-2
      = f.email_field :email, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-3
      = f.submit "Submit", class: "btn btn-primary"
