.page-header
  = link_to 'New topic', new_topic_path, class: "btn btn-success pull-right"
  %h3 All topics

- if @topics.any?
  #my-topics
    %table.table
      %tr
        %th Topic
        %th
        %th.text-center Answers
        %th Started by
      = render @topics
