.page-header
  %h3 All topics

// = will_paginate

- if @topics.any?
  #my-topics
    %table.table
      %tr
        %th Topic
        %th Started by
      = render @topics

#infinite-scrolling
  = will_paginate
